<html>

<head>
<title>Title</title>
</head>

<body>

<!--begin.rcode message = F
library(tidyverse)
library(readxl)
library(lubridate)
library(scales)
end.rcode-->

<!--begin.rcode
df <- read_excel("sample.xls")
df %>% head(5)
end.rcode-->

<p>1.共用一个y轴（左侧）</p>
<!--begin.rcode fig.width=12, fig.height=6
# two y in a single axis
# put color args into aes() to generate legend
df %>% mutate(order_year = year(order_date),
              order_year_month = floor_date(order_date, "month")) %>% 
  group_by(order_year_month) %>% 
  summarise(sum_sales = sum(sales, na.rm = TRUE),
            sum_profit = sum(profit, na.rm = TRUE)) %>% 
  ggplot() +
  geom_line(aes(order_year_month, sum_sales, color = "sum_sales")) +
  geom_line(aes(order_year_month, sum_profit, color = "sum_profit"))
end.rcode-->

<p>2.分别使用左右两个独立y轴:</p>

<!--begin.rcode fig.width=12, fig.height=6
# double y axis
# use "labels = comma" to avoid 1e+06 display
df %>% mutate(order_year = year(order_date),
              order_year_month = floor_date(order_date, "month")) %>% 
  group_by(order_year_month) %>% 
  summarise(sum_sales = sum(sales, na.rm = TRUE),
            sum_profit = sum(profit, na.rm = TRUE)) %>% 
  ggplot() +
  geom_line(aes(order_year_month, sum_sales, color = "sum_sales")) +
  geom_line(aes(order_year_month, sum_profit*10, color = "sum_profit")) +
  scale_y_continuous(labels = comma, sec.axis = sec_axis(~ .*0.1,name = "profit", labels = comma))
end.rcode-->

</body>
</html>
